# OS
Thumbs.db
Desktop.ini

# Logs
*.log

# Node
node_modules/
**/node_modules/
**/dist/
**/.vite/
**/coverage/

# Python
__pycache__/
*.pyc

# Editor
.vscode/

# Windows reserved/noise
**/CON
**/Desktop.ini
**/Thumbs.db
